* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    
}

body {
    color: white;
    min-width: 1400px;
    font-size: 24px;
    width: 100%;
    
}

.container {
    display: flex;
    flex-direction: column;
    background-color: darkblue;
    padding: 10px 250px 0px 250px;
    height: 600px;
    
    
    
   
   
}

.headerhigh {
    display: flex;
    justify-content: space-between;
    height: 70px;
    
    
    

}



ul {
    display: flex;
    list-style: none;
    gap: 20px
}

.headerlow {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

h3 {

    width: 300px;
    font-size: 40px;
    font-weight: bold;

}

p {
width: 520px;
}

button {
    width: 100px;
    padding: 4px;
    background-color: blue;
    border-radius: 5px;
    border-color: blue;
    color: white;
    font-weight: bold;
}

img {
    width: 800px;
    height: 350px;
}

.container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    
    
}
